VITE_API_URL=https://your-api-id.execute-api.eu-west-1.amazonaws.com/prod
VITE_USER_POOL_ID=eu-west-1_xxxxxxx
VITE_USER_POOL_CLIENT_ID=xxxxxxxxxx
VITE_USER_POOL_DOMAIN=uni-consultations-2025.auth.eu-west-1.amazoncognito.com
VITE_REDIRECT_URL=http://localhost:5173/callback
VITE_LOGOUT_URL=http://localhost:5173/
